.app-header {
    background-color: white;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
}

.app-header-container {
    display: flex;
    align-items: start;
    gap: 1.5rem;
}

.app-icon-container {
    flex-shrink: 0;
}

.app-icon-container img {
    width: 6rem;
    height: 6rem;
    border-radius: 1rem;
    object-fit: cover;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.app-header-details {
    flex: 1 1 0%;
}

.app-header-details h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
    color: #1a202c;
}

.app-header-details p {
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: #718096;
}