.navbar {
  height: 60px;
  width: 90vw;
  top: 30px;
  left: 5vw;
  margin: auto 0;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
  display: block;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15),
    0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 99;
}

.navbar .logo-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar .main-icon {
  height: 40px;
  padding-right: 10px;
}

.navbar .logo {
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 16pt;
  font-weight: bold;
  display: flex;
}

.navbar .menu-toggle,
#menuToggle {
  display: none;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 4em;
  display: flex;
}

.navbar ul li {
  text-decoration: none;
}

.navbar ul li a {
  padding: 0.25em 1em 0.25em 1em;
  color: #090909;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

.navbar ul li a.act {
  color: var(--accent);
  padding-bottom: 0.23em;
}

.navbar a:hover {
  color: var(--primary);
  transition-duration: 0.3s;
}

.modeTogLab {
  display: none;
}

.toggle .checkbox {
  opacity: 0;
  position: absolute;
}

.toggle .checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle .fa-moon {
  color: #f1c40f;
}

.toggle .fa-sun {
  color: #f39c12;
}

.toggle .checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
  transform: translateX(24px);
}

@media screen and (max-width: 970px) {
  .navbar {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 101;
  }

  .navbar .main-icon {
    height: 35px;
  }

  .navbar .logo {
    font-size: 14pt;
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 101;
  }

  .navbar .menu-toggle {
    display: block;
    position: relative;
    font-size: 16pt;
    padding: 0 2rem;
    cursor: pointer;
    color: #000;
  }

  .modeTogLab {
    display: block;
  }

  .navbar ul {
    flex-direction: column;
    position: fixed;
    background: #324400;
    width: 100vw;
    margin-left: 0;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
    z-index: 100;
    transform: translate(105%, 55%);
    transition: transform .5s ease;
    border-radius: 10px;
  }

  .navbar ul li {
    margin: 1.5em 0;
    max-width: 80vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar ul li a,
  .navbar ul li.toggle {
    border-radius: 10px;
    padding: .75rem 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 14pt;
    font-weight: 900;
    text-align: center;
    margin-right: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .navbar ul li a.act,
  .navbar ul li a:hover {
    background: none;
    color: #d6ff65;
  }

  #menuToggle:checked~ul {
    transform: translate(0%, 55%);
  }

  #menuToggle:checked~ul li a {
    margin-right: 0;
  }

  #menuToggle:checked~ul li.toggle {
    margin-right: 0;
  }
}