.navbar {
  height: 60px;
  width: 90vw;
  top: 30px;
  left: 5vw;
  margin: auto 0;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15),
    0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  background-color: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 99;
}

.logo-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar .logo-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar .main-icon {
  height: 55px;
  width: auto;
  aspect-ratio: 1/1;
  padding-right: 10px;
}

.navbar .logo {
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 16pt;
  font-weight: bold;
  display: flex;
}

.navbar .menu-toggle,
#menuToggle {
  display: none;
}

.mobBtn {
  justify-self: right;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul.nav-links-desktop {
  display: flex;
}

.navbar ul.nav-links-mobile {
  display: none;
}

.navbar ul li {
  text-decoration: none;
}

.navbar ul li a {
  padding: 0.25em 1em 0.25em 1em;
  color: #090909;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

.navbar ul li a.act {
  color: var(--accent);
  padding-bottom: 0.23em;
}

.navbar a:hover {
  color: var(--primary);
  transition-duration: 0.3s;
}

.toggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.toggle .checkbox {
  opacity: 0;
  position: absolute;
}

.toggle .checkbox-label {
  padding: 1rem;
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle svg {
  width: 2rem;
  color: #000;
}

.toggle .checkbox:checked~.checkbox-label svg {
  &:first-child {
    opacity: 0;
  }

  &:last-child {
    opacity: 1;
  }
}

.nav-links-desktop {
  display: flex;
  list-style: none;
}

.checkbox-label div {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 970px) {
  .navbar ul.nav-links-desktop {
    display: none;
  }

  .navbar ul.nav-links-mobile {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    padding-top: 80px;
    box-shadow: -10px 0 30px rgba(0, 0, 0, 0.2);
    z-index: 102;
  }

  .navbar {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 101;
  }

  .navbar .main-icon {
    height: 45px;
    width: auto;
    aspect-ratio: 1/1;
  }

  .navbar .logo {
    font-size: 14pt;
  }

  .logo-container {
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: space-between;
    z-index: 101;
    height: 100%;
  }

  .mobBtn {
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    height: 100%;
  }

  .navbar .menu-toggle {
    display: flex;
    align-items: center;
    font-size: 16pt;
    height: 100%;
    color: #000;
    z-index: 103;
  }

  .navbar .menu-toggle label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .navbar ul {
    flex-direction: column;
    position: fixed;
    background: #324400;
    min-width: 17.5rem;
    width: 80vw;
    max-width: 27rem;
    margin-left: 0;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
    z-index: 100;
    border-radius: 10px;
  }

  .navbar ul li {
    margin: 1rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 4rem;
  }

  .navbar ul li a,
  .navbar ul li.toggle {
    border-radius: 10px;
    padding: .75rem 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 14pt;
    font-weight: 900;
    text-align: center;
    margin-right: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .navbar ul li a.act,
  .navbar ul li a:hover {
    background: none;
    color: #d6ff65;
  }
}