.download-section {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
}

.download-section h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #1a202c;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
}

.download-section .dl-btnGroup button {
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 0.75rem;
    width: 100%;
    color: #fff;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75rem;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    cursor: pointer;
    border: none;
}

.download-section .dl-btnGroup button:first-child {
    margin-top: 0;
}

.download-section .dl-btnGroup button.windo {
    background-color: #2563EB;
}

.download-section .dl-btnGroup button.windo:hover {
    background-color: #1D4ED8;
}

.download-section .dl-btnGroup button.andro {
    background-color: #16A34A;

}

.download-section .dl-btnGroup button.andro:hover {
    background-color: #15803D;
}

.dl-btnGroup button.windo svg {
    height: 1rem;
}

.btnBottom {
    margin-top: 1.5rem;
    text-align: center;
}

.btnBottom p {
    color: #6b7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.btnBottom p:last-child {
    margin-top: 0.25rem;
}