.contact-form-page {
    width: 100vw;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-bottom: 40px;
    background: linear-gradient(to right, #c490fc, #25bdbf);
    color: #fff;
}

.contact-form-page .contact-page {
    width: 500px;
    margin: 0 20px;
    padding: 20px;
}

.alertmsg {
    position: absolute;
    top: 20px;
    z-index: 999;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
}

.popup {
    margin-top: 50vh;
    margin-left: 50vw;
    padding: 20px;
    background: #fff;
    border-radius: 15px;
    width: 10rem;
    position: relative;
    transform: translate(-50%, -50%);
}

.popup .content {
    height: 30%;
    overflow: auto;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}

.popup .content i.fa-circle-notch {
    font-size: 3.5rem;
    animation: spinner .5s linear infinite;
}

@keyframes spinner {
    0% {
        color: #c5f540;
        transform: rotate(0deg);
    }

    50% {
        color: #00b39b;
        transform: rotate(180deg);
    }

    100% {
        color: #c5f540;
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 700px) {
    .popup {
        width: 70%;
    }
}

@media (max-width: 720px) {
    .contact-form-page {
        align-items: center;
        justify-content: center;
        padding-bottom: 0;
        background: var(--background);
    }

    .contact-form-page .contact-page {
        background: linear-gradient(to right, #c490fc, #25bdbf);
        border-radius: 15px;
    }
}