.contact-form-page {
    background: linear-gradient(90deg, #BE8CEF 0%, #3d2ee8d4 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    min-height: 100vh;
    padding-top: 9%;
    padding-bottom: 5%;
}

.alertmsg {
    position: absolute;
    top: 20px;
    z-index: 999;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    margin: 0;
    padding: 20px;
    background: #fff;
    border-radius: 15px;
    width: 10rem;
    position: relative;
}

.popup .content {
    height: 30%;
    overflow: auto;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}

@media screen and (max-width: 700px) {
    .contact-form-page {
        padding-top: 0;
        margin-top: -5%;
    }

    .popup {
        width: 70%;
    }
}