.support-page {
    background: var(--background-grad-1);
    padding: 20px 0;
    padding-top: 120px;
    padding-bottom: 60px;
}

.support-container {
    box-shadow: 0 8px 24px var(--secondary);
    max-width: 95vw;
    background-color: var(--background-grad-2);
    color: var(--text);
    margin: 0 auto;
    border-radius: 20px;
    padding: 2.5rem 2rem;
}

.support-container h2 {
    font-size: 22pt;
    margin-top: 0;
    margin: 2rem 0;
    text-align: center;
    font-weight: 700;
}

.support-container .support-subtitle {
    font-size: 14pt;
    margin-bottom: 25px;
}

.posts {
    list-style: none;
    margin: 0;
    margin-left: 40px;
    padding: 0;
}

.post-message {
    margin-left: 5px;
}

.posts li {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.post-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.posts h4 {
    margin-top: 0;
}

p.meta {
    margin: 0;
    font-size: 14px;
    color: var(--separator-line);
}

fieldset {
    border: 2px solid var(--text);
    border-radius: 0 60px 15px 15px;
}

.form label {
    display: block;
    margin-top: 10px;
}

.form input[type="text"],
.form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.form input[type="submit"]:hover {
    background-color: #555;
}

.rct-txt h3 {
    border: 2px solid var(--text);
    margin-bottom: 25px;
    padding: 10px 0;
    border-radius: 15px 0 100px;
    background: linear-gradient(270deg, var(--accent-2), var(--background-grad-1));
    background-position: right center;
}

input[type=text],
#description {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.submit {
    background-color: var(--accent-2);
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12pt;
}

.submit:hover {
    background-color: #0082e6;
}

.reply {
    background-color: var(--primary);
    color: white;
    padding: 9px 15px;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    text-decoration: none;
}

.reply:hover {
    background-color: var(--secondary);
}

.reply-txt {
    margin-left: 40px;
}

.reply-txt h4 {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.reply-txt h4 svg {
    color: var(--accent);
    width: 1.5rem;
}

.bind {
    margin: 30px;
}