:root[data-theme="light"] {
  --text: #040316;
  --background: #fbfbfe;
  --primary: #98b253;
  --secondary: #718e80;
  --accent: #1f35ff;
  --background-grad-1: #ebf7ff;
  --background-grad-2: #dafdc9;
  --card-border-subtle: #080a08;
  --separator-line: #384742;
  --background-alt: #f1f3e9;
  --card-border-subtle: #f5f6f8;
  --separator-line: #dfdfdf;
}

:root[data-theme="dark"] {
  --text: #eae9fc;
  --background: #010104;
  --primary: #92ac4d;
  --secondary: #718D80;
  --accent: #0016e0;
  --background-grad-1: #273c49;
  --background-grad-2: #314628;
  --card-border-subtle: #f5f6f8;
  --separator-line: #dfdfdf;
  --background-alt: #0a0e0a;
  --card-border-subtle: #080a08;
  --separator-line: #384742;
}