.loader {
    width: 6rem;
    height: 6rem;
    display: flex;
    align-items: flex-start;
    aspect-ratio: 1;
}

.loader:before,
.loader:after {
    content: "";
    flex: 1;
    aspect-ratio: 1;
    --g: conic-gradient(from -90deg at 1rem 1rem, green 90deg, #0000 0);
    background: var(--g), var(--g), var(--g);
    filter: drop-shadow(3rem 3rem 0 green);
    animation: l20 1s infinite;
}

.loader:after {
    transform: scaleX(-1);
}

@keyframes l20 {
    0% {
        background-position: 0 0, 1rem 1rem, 2rem 2rem
    }

    33% {
        background-position: 1rem 1rem
    }

    66% {
        background-position: 0 2rem, 1rem 1rem, 2rem 0
    }

    100% {
        background-position: 0 0, 1rem 1rem, 2rem 2rem
    }
}