.description-section {
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.description-section h2 {
    margin-bottom: 1.5rem;
    color: #1a202c;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
}

.description-section .desc-prose {
    max-width: none;
    font-size: 1.125rem;
}

.desc-prose p {
    color: #374151;
    line-height: 1.625;
}

.desc-prose p.desc-p {
    margin-bottom: 1.5rem;
}

.desc-prose p.desc-s {
    margin-bottom: 2rem;
}

.desc-prose h3 {
    margin-bottom: 1rem;
    color: #1a202c;
    font-weight: 600;
    font-size: 1.25rem;
}

.desc-prose ul,
.desc-prose ol {
    color: #374151;
}

.desc-prose ul li,
.desc-prose ol li {
    display: flex;
    align-items: flex-start;
    margin-top: 0.75rem;
}

.desc-prose ul li:first-child,
.desc-prose ol li:first-child {
    margin-top: 0;
}

.desc-prose ul li svg,
.desc-prose ol li svg {
    color: #4299e1;
    margin-top: 0.375rem;
    margin-right: 0.75rem;
}

.desc-prose ol img {
    width: 50%;
}

@media screen and (max-width: 970px) {
    .desc-prose ol img {
        width: 85%;
        align-self: center;
    }
}