body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #ccc;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    flex: 1;
}

header {
    background-color: #333;
    color: #fff;
}

h1 {
    margin: 0;
    margin-left: 20px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
    border-bottom-color: rgb(8, 0, 255);
}

/* Active Animation */
@keyframes activeAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

nav ul li a.active {
    animation: activeAnimation 0.5s ease-in-out;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    margin-left: 10px;
    z-index: 9999;
}

.menu-toggle input {
    display: none;
}

.menu-toggle span {
    display: block;
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;
}

/* Responsive Navigation */
@media (max-width: 768px) {
    .container {
        flex-wrap: wrap;
    }

    .menu-toggle {
        display: block;
    }

    nav {
        width: 100%;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease-out;
    }

    nav.open {
        max-height: 800px;
        /* Adjust the maximum height as needed */
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 30px;
    }

    nav ul li:first-child {
        margin-top: 50px;
    }

    nav ul li a {
        padding: 5px;
        border-bottom: none;
    }

    .container {
        flex-wrap: wrap;
    }
}

.extras {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.f-container {
    width: 400px;
    padding: 40px;
    background-color: #101010;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.f-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    font-size: 24px;
}

.f-container .form-group {
    margin-bottom: 20px;
}

.f-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #f0f0f0;
}

.f-container input[type="text"],
.f-container input[type="password"],
.f-container input[type="date"],
.f-container input[type="number"],
.f-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f0f0f0;
    color: #000;
    box-sizing: border-box;
    font-size: 16px;
}

.f-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #00bcd4;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.f-container input[type="submit"]:hover {
    background-color: #0097a7;
}

.f-container .error-message {
    color: #f00;
    margin-top: 10px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.tog {
    font-weight: 400;
    font-size: 12px;
    color: #bbb;
    letter-spacing: 1px;
    margin-left: 15px;
}

.tog a {
    padding: 3px;
    text-decoration: none;
    border-bottom: 1px solid #ef8b80;
    box-shadow: inset 0 -4px 0 #ef8b80;
    color: inherit;
    transition: background 0.1s cubic-bezier(.33, .66, .66, 1);
}

.tog a:hover {
    background: #ef8b80;
}