.screenshots-section {
    padding: 2rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    border-radius: 1rem;
}

.screenshots-section h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    color: #1a202c;
}

.ss-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}

.ss-grid-imgcon {
    overflow: hidden;
    border-radius: 0.75rem;
    height: 16rem;
}

.ss-grid-imgcon img {
    vertical-align: middle;
    object-fit: cover;
    height: 100%;
    width: 100%;
}